.container {
  height: 100vh;
  width: 100vw;
  background-color: #f0eff4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeFormContainer {
  height: 500px;
  width: 550px;
  background-color: white;
}

.homeFormHeader {
  width: 100%;
  height: 50px;
  display: flex;
}

.headerTab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
}
.headerTabActive {
  background-color: #15c4d2;
  color: white;
}
.headerTabInactive {
  background-color: white;
  color: #15c4d2;
}

.formOutput {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dc3545;
  padding-top: 2em;
}

.homeForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 2em 0.5em 2em;
}
.homeForm > label {
  color: #afafaf;
  font-size: 1em;
}
.homeForm > label > span {
  color: black;
  background-color: none;
  cursor: help;
}

.homeFormInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0eff4;
  margin-bottom: 1.5em;
  height: 45px;
}
.homeFormInput > input {
  width: 100%;
  height: 100%;
  background-color: #f0eff4;
  border: none;
  padding: 0.5em;
}
.homeFormInput > span {
  width: fit-content;
  cursor: context-menu;
  font-size: 1.2em;
  padding:0.2em;
}

.homeFormButton {
  background-color: #576d82;
  color: white;
  border: none;
  width: 50%;
  font-size: 1.1em;
  padding: 1em;
  cursor: pointer;
}

.invalid {
  background-color: #ffdddd !important;
}

.disabled {
  cursor: not-allowed;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}
.tooltipText {
  visibility: hidden;
  color: #dc3545;
  font-size: 0.8rem;
}

@media only screen and (max-width: 400px) {
  .homeFormButton {
    font-size: 0.9em;
  }
}
